<%= form_with(model: genre) do |form| %>
  <% if genre.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
        <% genre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :book_id, style: "display: block" %>
    <%= form.text_field :book_id %>
  </div>

  <div>
    <%= form.label :fiction, style: "display: block" %>
    <%= form.text_field :fiction %>
  </div>

  <div>
    <%= form.label :history, style: "display: block" %>
    <%= form.text_field :history %>
  </div>

  <div>
    <%= form.label :fantasy, style: "display: block" %>
    <%= form.text_field :fantasy %>
  </div>

  <div>
    <%= form.label :mystery, style: "display: block" %>
    <%= form.text_field :mystery %>
  </div>

  <div>
    <%= form.label :poetry, style: "display: block" %>
    <%= form.text_field :poetry %>
  </div>

  <div>
    <%= form.label :romance, style: "display: block" %>
    <%= form.text_field :romance %>
  </div>

  <div>
    <%= form.label :nonfiction, style: "display: block" %>
    <%= form.text_field :nonfiction %>
  </div>

  <div>
    <%= form.label :comics, style: "display: block" %>
    <%= form.text_field :comics %>
  </div>

  <div>
    <%= form.label :biography, style: "display: block" %>
    <%= form.text_field :biography %>
  </div>

  <div>
    <%= form.label :youngadult, style: "display: block" %>
    <%= form.text_field :youngadult %>
  </div>

  <div>
    <%= form.label :children, style: "display: block" %>
    <%= form.text_field :children %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
