<div id="<%= dom_id genre %>">
  <p>
    <strong>Book:</strong>
    <%= genre.book_id %>
  </p>

  <p>
    <strong>Fiction:</strong>
    <%= genre.fiction %>
  </p>

  <p>
    <strong>History:</strong>
    <%= genre.history %>
  </p>

  <p>
    <strong>Fantasy:</strong>
    <%= genre.fantasy %>
  </p>

  <p>
    <strong>Mystery:</strong>
    <%= genre.mystery %>
  </p>

  <p>
    <strong>Poetry:</strong>
    <%= genre.poetry %>
  </p>

  <p>
    <strong>Romance:</strong>
    <%= genre.romance %>
  </p>

  <p>
    <strong>Nonfiction:</strong>
    <%= genre.nonfiction %>
  </p>

  <p>
    <strong>Comics:</strong>
    <%= genre.comics %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= genre.biography %>
  </p>

  <p>
    <strong>Youngadult:</strong>
    <%= genre.youngadult %>
  </p>

  <p>
    <strong>Children:</strong>
    <%= genre.children %>
  </p>

</div>
