<div id="<%= dom_id author %>">
  <p>
    <strong>Average rating:</strong>
    <%= author.average_rating %>
  </p>

  <p>
    <strong>Text reviews count:</strong>
    <%= author.text_reviews_count %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Ratings count:</strong>
    <%= author.ratings_count %>
  </p>

</div>
