<div style="font-family: Segoe UI;">
    <h1 class="centertext">Search for book trends!</h1>


    <div class="total">
        <%=link_to "Total Tuple Count", total_path, remote: true%>
    </div>
    <br>

    <div class="form1">
    <h2>Compare e-book availability by genre over time:</h2>
    <%= form_tag(query1_path, data: {turbo: false}) do%>
        <%= label_tag(:genre1, "Enter First Genre:") %>
        <%= text_field_tag :genre1 %> <br>
        <%= label_tag(:genre2, "Enter Second Genre:") %>
        <%= text_field_tag :genre2 %> <br>
        <%= label_tag(:year_lower, "From: ") %>
        <%= text_field_tag :year_lower %> <br>
        <%= label_tag(:year_upper, "To: ") %>
        <%= text_field_tag :year_upper %> <br><br>
        <%= submit_tag("Submit") %>
    <% end %>
    </div>

    <div class="form2">
    <h2>Compare books written by prolific authors by genre:</h2>
    <%= form_tag(query2_path, data: {turbo: false}) do%>
        <%= label_tag(:genre1, "Enter First Genre:") %>
        <%= text_field_tag :genre1 %> <br>
        <%= label_tag(:genre2, "Enter Second Genre:") %>
        <%= text_field_tag :genre2 %> <br>
        <%= label_tag(:year_lower, "From: ") %>
        <%= text_field_tag :year_lower %> <br>
        <%= label_tag(:year_upper, "To: ") %>
        <%= text_field_tag :year_upper %> <br><br>
        <%= submit_tag("Submit") %>
    <% end %>
    </div>

    <div class="form3">
    <h2 style="padding-right: 20%;">Compare books written by authors above a certain rating by genre:</h2>
    <%= form_tag(query3_path, data: {turbo: false}) do%>
        <%= label_tag(:genre1, "Enter First Genre:") %>
        <%= text_field_tag :genre1 %> <br>
        <%= label_tag(:genre2, "Enter Second Genre:") %>
        <%= text_field_tag :genre2 %> <br>
        <%= label_tag(:year_lower, "From: ") %>
        <%= text_field_tag :year_lower %> <br>
        <%= label_tag(:year_upper, "To: ") %>
        <%= text_field_tag :year_upper %>  <br>
        <%= label_tag(:ave_rating, "Greater than an average rating of: ") %>
        <%= text_field_tag :ave_rating%> <br><br>
        <%= submit_tag("Submit") %>
    <% end %>
    </div>

    <div class="form4">
    <h2>Compare average rating of books by language:</h2>
    <%= form_tag(query4_path, data: {turbo: false}) do%>
        <%= label_tag(:lang1, "Enter First Language:") %>
        <%= text_field_tag :lang1 %> <br>
        <%= label_tag(:lang2, "Enter Second Language:") %>
        <%= text_field_tag :lang2 %> <br>
        <%= label_tag(:year_lower, "Starting from: ") %>
        <%= text_field_tag :year_lower %> <br><br>
        <%= submit_tag("Submit") %>
    <% end %>
    </div>

    <br><br><br><br>

    <div class="form5">
    <h2 style="width: 600px;">Compare books by genre that have perfomed better than another genre:</h2>
    <%= form_tag(query5_path, data: {turbo: false}) do%>
        <%= label_tag(:genre1, "Enter First Genre:") %>
        <%= text_field_tag :genre1 %> <br>
        <%= label_tag(:genre2, "Enter Second Genre:") %>
        <%= text_field_tag :genre2 %> <br>
        <%= label_tag(:genreComp, "Genre to compare to:") %>
        <%= text_field_tag :genreComp %> <br>
        <%= label_tag(:year_lower, "From: ") %>
        <%= text_field_tag :year_lower %> <br>
        <%= label_tag(:year_upper, "To: ") %>
        <%= text_field_tag :year_upper %> <br><br>
        <%= submit_tag("Submit") %>
    <% end %>
    </div>
</div>