<p style="color: green"><%= notice %></p>

<%= render @write %>

<div>
  <%= link_to "Edit this write", edit_write_path(@write) %> |
  <%= link_to "Back to writes", writes_path %>

  <%= button_to "Destroy this write", @write, method: :delete %>
</div>
