<div id="<%= dom_id book %>">
  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Text reviews count:</strong>
    <%= book.text_reviews_count %>
  </p>

  <p>
    <strong>Series:</strong>
    <%= book.series %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= book.country_code %>
  </p>

  <p>
    <strong>Language code:</strong>
    <%= book.language_code %>
  </p>

  <p>
    <strong>Asin:</strong>
    <%= book.asin %>
  </p>

  <p>
    <strong>Is ebook:</strong>
    <%= book.is_ebook %>
  </p>

  <p>
    <strong>Average rating:</strong>
    <%= book.average_rating %>
  </p>

  <p>
    <strong>Kindle asin:</strong>
    <%= book.kindle_asin %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Format:</strong>
    <%= book.format %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= book.link %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher %>
  </p>

  <p>
    <strong>Num pages:</strong>
    <%= book.num_pages %>
  </p>

  <p>
    <strong>Publication day:</strong>
    <%= book.publication_day %>
  </p>

  <p>
    <strong>Isbn13:</strong>
    <%= book.isbn13 %>
  </p>

  <p>
    <strong>Publication month:</strong>
    <%= book.publication_month %>
  </p>

  <p>
    <strong>Publication year:</strong>
    <%= book.publication_year %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= book.url %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= book.image_url %>
  </p>

  <p>
    <strong>Ratings count:</strong>
    <%= book.ratings_count %>
  </p>

  <p>
    <strong>Work:</strong>
    <%= book.work_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Title without series:</strong>
    <%= book.title_without_series %>
  </p>

</div>
